.img-col {
  margin-bottom: 25px;
}

nav .container a {
  text-decoration: none;
  color: #000;
}

@media only screen and (max-width: 600px) {
  .hero {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .hero {
    display: flex;
    min-height: 400px;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .mobile-hero {
    display: flex;
    min-height: 250px;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 600px) {
  .hero {
    display: none;
  }
}

.mobile-hero h1 {
  color: #fff;
  text-shadow: 5px 5px 25px #000;
  text-transform: uppercase;
  letter-spacing: 1.15rem;
  font-weight: 400;
}

.mobile-hero .lead {
  color: #e2e2e2;
  text-shadow: 5px 5px 25px #000;
  letter-spacing: 2px;
  font-size: 16px;
}

.hero h1 {
  color: #fff;
  text-shadow: 5px 5px 25px #000;
  text-transform: uppercase;
  letter-spacing: 1.15rem;
  font-weight: 400;
}

.hero .lead {
  color: #e2e2e2;
  text-shadow: 5px 5px 25px #000;
  letter-spacing: 2px;
  font-size: 16px;
}

.about-us-img {
  margin: auto;
  box-shadow: 15px 15px 25px #0000003b;
}

.unstyled {
  list-style: none;
  padding-left: 0;
}
