header {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 8px rgba(var(--bs-dark-rgb), 0.25);
}

nav {
  background-color: var(--bs-body-bg);
}

.light-shadow {
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.75));
}

main {
  min-height: 90vh;
}

.img-col {
  margin-bottom: 25px;
}

.hero {
  display: flex;
  min-height: 400px;
  align-items: center;
  justify-content: center;
}

.hero .logo {
  width: 60vw;
}

@media only screen and (max-width: 575px) {
  .hero .logo {
    width: 80vw;
  }
  .logo {
    width: 80px;
    margin-bottom: 5px;
  }
  .navbar .align-items-center a {
    font-size: 14px;
    margin-right: 0px !important;
  }
  .languages li {
    margin: 0px;
  }
  .languages .remove_button_css {
    font-size: 12px;
    padding: 2px;
  }
}

.hero h1 {
  color: var(--bs-white);
  text-shadow: 5px 5px 25px #000;
  text-transform: uppercase;
  letter-spacing: 1.15rem;
  font-weight: 400;
}

.hero .lead {
  color: var(--bs-white);
  text-shadow: 5px 5px 25px #000;
  letter-spacing: 2px;
  font-size: 16px;
}

.about-us-img {
  margin: auto;
  box-shadow: 15px 15px 25px #0000003b;
}

.unstyled {
  list-style: none;
  padding-left: 0;
}

.languages {
  list-style: none;
  padding-left: 10px;
  margin-bottom: 0px;
}

.languages li {
  margin: 0px 2px;
  font-weight: 300;
  padding-right: 5px;
  border-right: 1px solid var(--arkinet-separator-color);
}

.languages li button {
  color: var(--bs-body-color);
  text-shadow: none;
  transition: 0.5s;
}

.languages li button:hover {
  color: var(--arkinet-theme);
  text-shadow: 0 0 2px var(--arkinet-theme);
  transition: 0.5s;
}

.languages li:last-child {
  padding-right: 0;
  border-right: none;
}

.languages li button {
  outline: none;
  padding: 2px;
  border: 0;
  box-sizing: unset;
  text-transform: uppercase;
  background-color: transparent;
}

#contact {
  min-height: 90vh;
}

.gal-menu {
  list-style: none;
  display: flex;
  padding: 0;
}

.gal-menu li a {
  text-transform: uppercase;
  padding: 0 10px;
}
.gal-menu li:first-child a {
  padding-left: 0;
}
.gal-menu li:last-child a {
  padding-right: 0;
}

.gal-menu li {
  border-right: 1px solid var(--arkinet-separator-color);
}
.gal-menu li:last-child {
  border-right: none;
}

a {
  text-decoration: none;
  color: var(--bs-body-color);
  text-shadow: none;
  transition: 0.5s;
}

a:hover {
  color: var(--arkinet-theme);
  text-shadow: 0 0 2px var(--arkinet-theme);
  transition: 0.5s;
}
